body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

@media (max-width: 1200px) {
    .body {
        width: 1200px;
    }
}

@media (max-width: 1000px) {
}

@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
